<!-- <textarea row="6" type="text" [value]="newPost" #postInput>{{ newPost }}</textarea> -->
<!-- <textarea row="6" type="text" #postInput>{{ newPost }}</textarea> one way binding -->
<mat-card>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input placeholder="Post Title" matInput type="text" name="title" [ngModel]="post.title" required #title="ngModel">
            <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
        </mat-form-field>

        <mat-form-field>
            <textarea row="6" placeholder="Post Content" matInput name="content" [ngModel]='post.content' required #content="ngModel"></textarea>
            <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
        </mat-form-field>
        <button color="accent" mat-raised-button type="submit">Save Post</button>
    </form>
</mat-card>

<!-- <button class="btn btn-primary" (click)='onAddPost(postInput)'>Save Post</button> -->

